
<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="15" cols="30"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("partials/footer"); -%>


<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, obcaecati. Nisi quam quisquam minima eius culpa eveniet ullam sunt! Autem vero odit praesentium eaque quisquam voluptas? Eaque corporis atque voluptatum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sed harum commodi perferendis? Cupiditate perferendis excepturi aliquid, odit repellat rem obcaecati deserunt quo quam cumque, ducimus alias minima tempora praesentium.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aut, corporis perferendis delectus porro veritatis, eos dolorum odit necessitatibus beatae earum, sint dolore? Culpa nulla voluptate laboriosam voluptates officiis mollitia.

Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi suscipit fugiat nisi harum. Voluptatem sapiente perspiciatis veniam nam ad, fugit odit perferendis quas necessitatibus totam temporibus minima, non iste omnis? -->